@use "../styles/variables" as *;

.select-container {
  position: relative;
  width: 100%;

  .dropdown {
    padding: 0 2rem 0 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    transition: border-color 0.2s ease;
    height: 4.5rem;

    &:hover,
    &.open {
      border-color: $primary-color;
    }

    .dropdown-label {
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
      background: #fff;
      padding: 0 5px;
      transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
      color: #666;

      &.floating {
        top: -0.1rem;
        font-size: 0.8rem;
        color: $primary-color;
      }
    }

    .selected-values {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }

    .arrow {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      border: 6px solid transparent;
      border-top-color: #666;
      transition: transform 0.2s ease;

      &.open {
        border: 6px solid transparent;
        border-bottom-color: #666;
        top: 40%;
      }
    }
  }

  .options-list {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    max-height: 20rem;
    overflow-y: auto;

    .option-item {
      padding: 0.5rem;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #f0f0f0;
      }

      &.selected {
        background-color: #f0f0ff;
      }
    }
  }
}
